<html>

<head>
 <link rel="stylesheet" href="About.css">   
</head>
<body>
<div class="AboutBody">
<header id="About">{{>header}}About our weather app</header>
<section id="Body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique necessitatibus neque, blanditiis vel ad porro quis ullam placeat tempore aliquid dignissimos harum soluta earum cupiditate ab fugiat numquam quo minima!</section>
<footer>{{>footer}}</footer>
</div>
</body>
</html>