<html>  
<head>
<link rel="stylesheet" href="index.css">

</head>
<body class="Body">
   <header id="title">
          Weather App for your need   
      </header>
    <div class="Menu">
    <a  href="/About" class="LinkItem">About</a>
    <a href="/Weather" class="LinkItem">Weather</a>
    </div>
 <footer class="Footer">{{>footer}} </footer>
</body>

</html>