<html>

<head>
<link rel='stylesheet' href="./Weather.css">
</head>
<body class="WeatherBody">
<h1>Search the weather by giving address</h1>
<form class="Form">
<input type="text" class="Address" placeholder="Location"/>
<button class="SearchButton">Search</button>
<p id="display-mssg"></p>
<p id="details"></p>

</form>
<script src="./Weather.js"></script>
</body>
</html>